<h1>Welcome!</h1>
<p>The actual date and time is:</p>
<% t = Time.now %>
<p><%= t = t.getlocal("-05:00")  %></p>

<%= link_to "Refresh", root_path %>
<p>Please click on refresh if you wish to update date and time.</p>
<br><br>
<%= link_to "Ruby", ruby_path %>
<%= link_to "Git" , git_path %>